* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

#app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    width: 100vw;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    padding: 0 40px 0 40px;
}

.header__button {
    height: 70%;
    width: 10%;
    border: 1px solid rgba(124, 112, 112, 0.4);
    background-color: rgba(61, 56, 56, 0.4);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.header__button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.board {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    height: 95%;
    // border: 1px solid red;
}

.board__section {
    border: 1px solid blue;
    height: 100%;
}

.board__shortcuts {
    width: 20%;
    display: flex;

    &--active{
        display: block;
        background-color: rgba(255, 255, 255, 0.8);
        min-height: 50px;
        height: fit-content;
    }

    &--disactive {
        display: none;
    }
}

.board__shortcuts > ul > li {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 5px 10px 5px;
    background-color: rgba(212, 135, 135, 0.74);
    cursor: pointer;
}

.board__body {
    overflow: auto;
    &__one--active {
        width: 80%;
    }

    &--disactive {
        width: 100%;
    }
}

.board__body ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.boardBody__column {
    border: 1px solid green;
    height: 100%;
    
}

.none { display: none}