* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
width: 10px;
height: 12px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgb(128, 128, 128);
border-radius: 6px;
}

::-webkit-scrollbar-thumb {
background: rgb(161, 158, 158); 
border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
background: #af8d8d; 
}

#app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.fullscreen__background{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    padding: 0 40px 0 40px;
}

.header__button {
    height: 70%;
    width: 10%;
    border: 1px solid rgba(124, 112, 112, 0.4);
    background-color: rgba(61, 56, 56, 0.4);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.header__button:focus {
    outline: none;
}

.header__button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.board {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: 95%;
}

.board__section {
    height: 100%;
}

.board__shortcuts {
    margin-left: 10px;
    max-height: 94vh;
    padding: 0 5px 5px 5px;
    // position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 50px;
    height: fit-content;
    animation: shortcuts--disactive 0.31s;

    &--active{
        animation: shortcuts--active 0.3s;
        // z-index: 1;
    }
}

@keyframes shortcuts--active {
    0% {transform: translateX(-280px);}
    100% {transform: translateX(0);}
}

@keyframes shortcuts--disactive {
    0% {transform: translateX(0);}
    100% {transform: translateX(-280px);}
}

.board__shortcuts > ul {
    list-style: none;
}

.board__shortcuts__mainList_list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: 87.6vh;
}


.board__shortcuts > ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.board__shortcuts__listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    width: 260px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 5px;
}

.board__shortcuts__listItem--active {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.board__shortcuts__listItem:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.board__shortcuts__listItem:hover .fa-edit {
    display: block;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.board__shortcuts__listItem--editActive {
    min-height: 40px;
}

.board__shortcuts__form {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 430px;
    justify-content: space-between;
    z-index: 5;
}

.board__shortcuts__form__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 63px;
    margin-top: 5px;
}

.btn {
    width: 150px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.85);
    color: rgb(255, 255, 255);
    transform: translateX(5px);
    transition: 0.2s;
}

.list_input_text {
    width: 260px;
    height: 35px;
    margin-top: 5px;
    border: none;
    resize: vertical;
    overflow-wrap: break-word;
    padding-left: 10px;
}

.fa-edit {
    display: none;
}

.fa-edit:hover {
    background-color: rgb(223, 211, 211);
}

.board__body {
    overflow: auto;
    display: flex;
    animation: body--disactive 0.3s;

    &--active {
        animation: body--active 0.3s;
    }

}

@keyframes body--active {
    0% {margin-left: -280px;}
    100% {margin-left: 0;}
}

@keyframes body--disactive {
    0% {margin-left: 0;}
    100% {margin-left: -280px;}
}

.board__body > ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    margin: 0 10px 0 10px;
    width: fit-content;
    z-index: 0;
}

.boardBody__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #eeeded;
    min-height: 35px;
    height: fit-content;
    width: 270px;
    margin: 0 10px 0 10px;
    z-index: 1;
}

.boardBody__column__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.boardBody__column__header__options {
    font-weight: 600;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 25px;
}

.boardBody__column__header__options:hover {
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.1);
}

.boardBody__column__name {
    height: 36px;
    width: 230px;
    padding-left: 7px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
}

.kont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boardBody__column__name__input {
    width: 220px;
    height: 36px;
    resize: none;
    margin: 0;
    font-size: 16px;
    padding-left: 2px;
}

.boardBody__column__name__form {
    width: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.board__backlog {
    height: 100%;
    width: 100%;
    background-color: rgb(226, 186, 186);
    position: fixed;
    z-index: 2;
}

.none { 
    display: none;
}

.testlist1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    max-height: 89.45vh;
}

.testlist1 > li {
    list-style: none;
    overflow: auto;
}

.testlist2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 251px;
}

.test12 {
    border-radius: 5px;
    width: 250px;
    min-height: 35px;
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
}

.test12:hover {
    background-color: rgba(173, 169, 169, 0.4);
}

.test123 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.input_text {
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    border: none;
    border-radius: 5px;
    resize: vertical;
    overflow-wrap: break-word;
}

.input_text:focus {
    outline: none;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fa-plus {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.detailed__description {
    background-color: rgb(255, 255, 255);
    height: 95%;
    width: 45%;
}

.detailed__description__header {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.as {
    max-height: 500px;
    resize: none;
    width: 75%;
    padding: 9px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    cursor: pointer;
    text-decoration-color: rgb(0, 0, 0);

    &:focus {
        outline: 2px solid rgb(62, 121, 223);
        background-color: rgba(190, 189, 189, 0.4);
        cursor: text;
    }

    &:hover {
        background-color: rgba(190, 189, 189, 0.4);
    }

    &::placeholder {
        color: rgb(23, 43, 77);
    }
}

.form__desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.form__desc button {
    display: none;

}

.form__desc:focus-within button {
    display: block;
    z-index: 2;
}

.form__desc button:focus {
    z-index: -1;
    animation: disappear 0.2s
}

@keyframes disappear {
0% {z-index: 2;}
90%{z-index: 2;}
100% {z-index: -1;}
}

.detailed__description__header__title {
    padding: 10px 0 0 20px;
    margin-bottom: 10px;
    width: 90%;
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
    font-size: 20px;
}

.card__detail__description {
    padding-left: 20px;
}

.card__detail__description h3 {
    padding-bottom: 10px;
}

.detailed__description__header__closeButton {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    margin: 5px 5px 0 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.detailed__description__header__closeButton:hover {
    background-color: rgba(141, 133, 133, 0.322);
}